/*
	Este arquivo faz parte do Breakout;
	
	Breakout é Software Livre; você pode redistribui-lo e/ou
	modificá-lo dentro dos termos da Licença Pública Geru GNU como
	publicada pela Fundação do Software Livre (FSF); na versão 3 da Licença.
	Este programa é distribuído na esperança que possa ser util,
	mas SEM NENHUMA GARANTIA; sem uma garantia implicita de ADEQUAÇÂO a
	qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. Veja a Licença Pública Geral
	GNU para maiores detalhes.
	Você deve ter recebido uma cópia da Licença Pública Geral GNU junto com 
	este programa, se não, escreva para a Fundação do Software Livre(FSF) Inc.,
	51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
	
	Breakout v0.7
	Breakout -> Ano: 2013, 2015|Tipo: Mobile
*/

html, body{
	height: 100%;
	padding: 0;
	margin: 0;
}
body{
	color: white;
	background-color: black;
	font-family: "Segoe UI Light";
	text-align: center;
}
h1{
	font-size: 20px;
	position: fixed;
	background: rgb(128,16,16);
	height: 40px;
	top: -10px;
	width: 100%;
}
canvas{
	display: none;
}
#menu{
	position: fixed;
	top: 30px;
	padding-left: 25%;
	padding-right: 25%;
}
#menu a{
	color: white;
	height: 40px;
	text-decoration: none;
	width: 100%;
	position: absolute;
}

#ads{
	text-decoration: none;
	width: 100%;
	position: absolute;
	bottom: 0px;
}

article{
	top: 60px;
	background-color: #FF1C0A;
	position: fixed;
}

#back{
	left: 0px;
	position: fixed;
}

@media (orientation:landscape){
	body{
		-moz-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
}
